<div class="container">
  <div class="row">
    <h3>ノートを書く</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <%= form_with model: @note,local:true do |f| %>
        <%= render 'layouts/error_messages', model: @note %>
        <h6>タイトル</h6>
        <%= f.text_field :title, class: "form-control mb-2", placeholder: "タイトルを入力してください" %>
        <h6>タグ</h6>
        <%= f.text_field :tag_list,value: @note.tag_list.join(','),"data-role" => "tagsinput", id: "add_note_tags", class: "form-control mb-2 w-100", placeholder: "「,」区切りで追加してください"%>
        <div class="d-flex mb-3">
          <div class="w-100">
            <h6>本文</h6>
            <!-- プレビュー用のタグ -->
            <div id="preview-area" class="col-12">
            </div>
            <div class="input-field">
              <%= f.text_area :body, class: "form-control",id: "md-textarea", placeholder: "マークダウン記法が使えます"%>
            </div>
          </div>
        </div>
        <button id="markdown" type="button" class="btn btn-info" disabled>
          記述する
        </button>
        <button type="button" id="preview" class="btn btn-info mr-5">
          プレビューする
        </button>
          <%= f.submit "投稿する",class: "btn btn-success mt-2" %>
      <% end %>   
    </div>
  </div>  
</div>