<div class="container">
  <div class="row">
    <h3>ノート</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <%= form_with model: @note do |f| %>
        <h6>タイトル</h6>
        <%= f.text_field :title, class: "form-control mb-2" %>
        <h6>タグ</h6>
        <%= f.text_field :tag_list,value: @note.tag_list.join(','), class: "form-control mb-2" %>
        <div class="d-flex">
          <div class="w-100">
            <h6>本文</h6>
            <%= f.text_area :body, class: "form-control",style: "height: 60vh;" %>
          </div>
        </div>
        <%= f.submit "投稿する",class: "btn btn-primary" %>
      <% end %>   
    </div>
  </div>  
</div>