<div class="container">
  <div class="row">
    <h3>ノート</h3>
  </div>
  <div class="row">    
    <div class="note-card col-12">
      <div class="link">
        <% if user_signed_in? && current_user.id == @note.user.id %>
          <%= link_to "編集する",edit_note_path(@note),data: {"turbolinks" => false} %>
        <% end %>
        <div class="d-flex justify-content-end" id="note-favorite-<%= @note.id %>" >
          <%= render 'note_favorites/note_favorite', note: @note%>
        </div>
      </div>
      <div class="row card-body">
      <div class="col-6 mb-2 font-size">タイトル</div>
        <div class="col-12 font-size">
          <%= @note.title %>
        </div>
      </div>
      <hr class="note-under">
      <div class="row card-body">
        <div class="col-12  mb-2 font-size">
          タグ
        </div>
        <div class="col-12">
          <% @note.tag_list.each do |tag| %> 
            <%= link_to tag,searchs_path(tag_name:tag,search_id:1,genre_id: 2),class: "badge badge-success p-1 badge-tag",data: {"turbolinks" => false} %>
          <% end %>                    
        </div>
      </div>
      <hr class="note-under">
      <div class="row card-body">
        <div class="col-12 mb-5">
          <div class="ml-3">
            <%= markdown(@note.body) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="note-comments">   
    <h4 class="mt-4">コメント</h4>
    <%= render 'note_comments/note_comments',note: @note,note_comments: @note_comments %>
  </div>
  <div class="row"> 
    <%= render 'notes/note_form',note: @note,note_comment: @note_comment %>    
  </div> 
</div>