<% study_log_comments.each do |comment| %>
  <div class="card mt-1">
    <div class="card-body d-flex">
      <%= link_to user_path(comment.user.id) do %>
        <%= attachment_image_tag comment.user, :profile_image, :fill, 70, 70, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.png",size: "70x70" %>
      <% end %>
      <div class="d-flex flex-column mb-1">
        <div class="mb-1 ml-3 text-muted">
          <span><%= comment.user.name %></span>
          <span class="ml-3"><%= comment.created_at.strftime("%Y年%m月%d日") %></span>
        </div>
        <div class="ml-3 d-flex flex-column justify-content-center study-log-comment">
          <%= comment.comment %>
        </div>
      </div>
      <% if user_signed_in? && comment.user_id == current_user.id %>
        <%= link_to "コメントを削除",study_log_study_log_comment_path(study_log,comment),method: :delete,remote: true, data: { confirm: "本当に削除しますか？",cancel: "やめる", commit: "削除する"},title: '投稿の削除', style: "position:absolute;right:2%;bottom:5%;" %>
      <% end %>
    </div>
  </div>
<% end %>