<div class="col-9">
  <% if user_signed_in? && current_user.id == user.id && user.goal_hour == 0 && user.goal_minute == 0%>
    <h6>まだ週の目標が登録されていません。
      <%= link_to "登録はこちら",edit_user_path(user) %>
    </h6>
  <% elsif user.goal_hour == 0 && user.goal_minute == 0  %>
    <h6><%= user.name %>さんはまだ週の目標を登録していません。</h6>  
  <% else %>
    <div class="row">
      <span class="col-lg-4 profile-font-size">１週間の目標</span>
      <span class="col-lg-7 profile-font-size"><%= user.goal_hour%>時間<%= user.goal_minute %>分</span>              
    </div>
    <div class="row">
      <span class="col-lg-4 profile-font-size">今週の学習時間</span>
      <span class="col-lg-7 profile-font-size"><%= user.weekly_study_logs[0] %>時間<%= user.weekly_study_logs[1]%>分</span>
    </div>
    <div class="row">
      <span class="col-lg-4 profile-font-size">これまでの学習時間</span>
      <span class="col-lg-7 profile-font-size"><%= user.total_study_logs[0] %>時間<%= user.total_study_logs[1]%>分</span>
    </div>
    <div class="pie_chart">
      <canvas id="pie" width="200" height="200"></canvas>
      <div class="study-log-inner">
      </div>
    </div>
    <div class="doughnut-chart"">
      <div class="doughnut-area">
        <canvas id="doughnut" width="200" height="200"></canvas>
        <div class="achievement-inner"></div>
      </div>
    </div>
  <% end %>
</div>
<script>
// 学習記録の割合表示
$(document).on('turbolinks:load', function () {
  if(gon.labels.length !== 0){
    var pie_chart = document.querySelector("#pie");
    var myPieChart = new Chart(pie_chart, {
      // 円グラフを指定
      type: 'doughnut',
      data: {
        labels: gon.labels,
        datasets: [{
          backgroundColor: gon.background,
          data: gon.data
        }]
      },
      options: {
        // ラベルを非表示
        legend: {
          display: false
        },
        title: {
          display: false,
          text: '学習内容'
        }
      }
    });
  };

  // 今週の進捗の表示
  var doughnut_chart = document.querySelector("#doughnut");
  var progress = gon.progress;
  var target = 0
  if(progress <= 100){
    var target = 100 - progress;
  };

  console.log(progress);
  console.log(target);
  var myDoughnutChart = new Chart(doughnut_chart, {
    type: 'doughnut',
    data: {
      labels: ["達成","残り"],
      datasets: [{
        borderWidth: [0,0],
        backgroundColor: ["#ffff00","#dcdcdc"],
        data: [progress,target]
      }]
    },
    options: {
      legend: {
        display: false
      },
      title: {
        display: false,
        text: '達成率'
      }
    }
  });
  // 円の中心に文字列を表示する処理
  $(function(){
    $('.achievement-inner').text("目標達成率"+ progress+"%");//進捗率を表示
    console.log(gon.labels.length);
    if(gon.labels.length === 0){
      $('.study-log-inner').text("学習記録はまだ投稿されていません");//進捗率を表示
    }else{
      $('.study-log-inner').text("学習内容");//進捗率を表示
    };
  });
});
</script>