<% users.each do |user| %>
  <div class="user-card mt-2">
    <div class="follow">
      <i class="far fa-handshake"> <b><%= user.relationships.count %></b></i>/
      <i class="fas fa-handshake"> <%= user.reverse_of_relationships.count %></i>
    </div>
    <div class="card-body">
      <%= link_to user_path(user),class: "d-flex align-items-center col-lg-6 col-12" do %>
        <%= attachment_image_tag user, :profile_image, :fill, 70, 70, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.png",size: "70x70" %>
        <div class="ml-1 col-lg-6">
          <h4 class="card-title"><%= user.name %></h4>
          <h6 class="card-subtitle text-muted"><%= user.introduction %></h6>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
