<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="d-flex">
        <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, class: "pull-left profile-img", fallback: "no_image.png",size: "150x150" %>
          <div class="col-5 d-flex align-items-center">
            <h3><%= @user.name %></h3>        
          </div>
          <div class="col-10  d-flex align-items-center">
            <h3>週間目標 <%= @user.goal_hour %>時間<%= @user.goal_minute %>分</h3>
          </div>
        </div>
      </div>
      <div class="row card mt-2">
        <div class="card-body">
          <%= @user.introduction %>            
        </div>
      </div>
      <div class="text-right mt-2">
        <%= link_to "編集",edit_user_path(@user),class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div style="margin:0;auto;position:relative;">  
  <div class="pie_chart" style="float:left;width:40%;">
     <canvas id="pie" style="position: relative;width:80vw; height:80vh;"></canvas>
  </div>

  <div class="doughnut-chart" style="float:left;width:40%;">
    <div class="doughnut-area" style="position:relative;" >
      <canvas id="doughnut" style="position: relative;width:80vw; height:80vh"></canvas>
      <div class="inner">
      88
      </div>
    </div>
  </div>
</div>


<script>
  // chart.jsを使用
  // 学習記録の割合表示
$(document).on('turbolinks:load', function () {
  var pie_chart = document.querySelector("#pie");
  var myPieChart = new Chart(pie_chart, {
    // 円グラフを指定
    type: 'pie',
    data: {
      labels: gon.labels,
      datasets: [{
        backgroundColor: gon.background,
        data: gon.data
      }]
    },
    options: {
      // ラベルを非表示
      legend: {
        display: false
      },
      title: {
        display: true,
        text: '学習内容'
      }
    }
  });

  // 今週の進捗の表示
  var doughnut_chart = document.querySelector("#doughnut");
  var progress = gon.progress;
  var target = 100 - progress;
  console.log(progress)
  console.log(target);
  var myDoughnutChart = new Chart(doughnut_chart, {
    type: 'doughnut',
    data: {
      labels: ["達成","残り"],
      datasets: [{
        borderWidth: [0,0],
        backgroundColor: ["#ffff00","#dcdcdc"],
        data: [progress,target]
      }]
    },
    options: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: '達成率'
      }
    }
  });
  $(function(){
    $('.inner').text("目標達成率"+ progress+"%");//進捗率を表示
  });
});
</script>

