<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-12 card h-100 timeline-sidebar mb-3">
      <div class="d-flex justify-content-center mt-3 mb-2">
        <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, class: "pull-left profile-img", fallback: "no_image.png",size: "150x150" %>
      </div>
      <table class="table">
        <tbody>
        <tr></tr>
        <tr>
          <td>
            <b>ユーザ名</b><span class="offset-3"><%= @user.name %></span>
          </td>
        </tr>
        <tr>
          <td class="sidebar-relative">
            <b>自己紹介</b>
            <p class="text-center"><%= @user.introduction %></p>
          </td>
        </tr>
        <tr>
          <td>
            <b>今週の目標</b>
              <div class="text-center">
            <h4><b><%= @user.goal_hour%>時間<%= @user.goal_minute %>分</b></h4>
          </td>
        </tr>
        <tr>
          <td>
            <b>今週の積み上げ</b>
            <div class="text-center">
              <h4><b><%= @user.weekly_study_logs[0] %>時間<%= @user.weekly_study_logs[1]%>分</b></h4>        
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b><%= link_to "フォロー#{@user.relationships.count}" ,following_user_path(@user) %></b>
          </td>
          <td>
            <b><%= link_to "フォロワー#{@user.reverse_of_relationships.count}" ,followers_user_path(@user) %></b>
          </td>
        </tr>
        <tr>
          <td class="text-center"><b><%= link_to "お気に入り一覧",favorites_user_path(@user) %></b></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-9 card">
    <div class="pie_chart" style="float:left;width:50%; position:absolute; left:5%;">
    <canvas id="pie" style="position: relative;width:200px; height:200px;"></canvas>
    <div class="inner">
      学習内容
    </div>
  </div>
  <div class="doughnut-chart" style="float:left;width:50%; position:absolute; right:-15%;">
    <div class="doughnut-area" style="position:relative;" >
      <canvas id="doughnut" style="position: relative;width:200px; height:200px;"></canvas>
      <div class="inner">
      88
      </div>
    </div>
  </div>
</div>
<script>
  // chart.jsを使用
  // 学習記録の割合表示
$(document).on('turbolinks:load', function () {
  var pie_chart = document.querySelector("#pie");
  var myPieChart = new Chart(pie_chart, {
    // 円グラフを指定
    type: 'doughnut',
    data: {
      labels: gon.labels,
      datasets: [{
        backgroundColor: gon.background,
        data: gon.data
      }]
    },
    options: {
      // ラベルを非表示
      legend: {
        display: false
      },
      title: {
        display: true,
        text: '学習内容'
      }
    }
  });

  // 今週の進捗の表示
  var doughnut_chart = document.querySelector("#doughnut");
  var progress = gon.progress;
  var target = 100 - progress;
  console.log(progress)
  console.log(target);
  var myDoughnutChart = new Chart(doughnut_chart, {
    type: 'doughnut',
    data: {
      labels: ["達成","残り"],
      datasets: [{
        borderWidth: [0,0],
        backgroundColor: ["#ffff00","#dcdcdc"],
        data: [progress,target]
      }]
    },
    options: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: '達成率'
      }
    }
  });
  $(function(){
    $('.inner').text("目標達成率"+ progress+"%");//進捗率を表示
  });
});
</script>

