<div class="container d-flex justify-content-center">
  <div class="study-log-new-width">  
    <h3 class="mb-3">学習記録編集</h3>  
    <div class="s-card">
      <%= form_with model: @study_log, local: true do |f| %> 
        <%= render 'layouts/error_messages', model: @study_log %>
        <div class="s-header">
          <h5>学習日</h5>
          <span>
            <%= f.date_field :working_date, value: Date.today, class: "form-control" %>
          </span>
        </div>
        <div class="d-flex card-body">
          <div class="content">
            <!-- 子要素と親要素を同時に更新するための処理,今後非同期で列の追加等を行う予定であるため、パーシャル化 -->
            <div class="row">      
              <span class="mt-2">
                勉強内容
              </span>
              <span class="col-8">
                <%= f.text_field :tag_list,value: @study_log.tag_list.join(','),"data-role" => "tagsinput", class:"form-control"%>
              </span>
            </div>
            <hr>
            <div class="row">
              <div class="w-100  d-flex align-items-center ">
                <h6 class="mt-2">勉強時間</h6>
                <div class="width ml-3 mr-1">
                  <%= f.select :hour, Array.new(24){|index| index },{},class: "form-control" %>
                </div>
                <h6 class="margin-right ml-1 mt-2">時間</h6>
                <div class="width">
                  <%= f.select :minute,Array.new(60){|index| index},{},class: "form-control" %>                
                </div>
                <h6 class="ml-2 mt-2">分</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <%= f.label :memo,"メモ" %>
          <%= f.text_area :memo ,class: "form-control" %>
        </div>
      </div>
      <div class="mt-2 d-flex justify-content-end">
        <%= f.submit "登録する",class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>