<div class="container d-flex justify-content-center">
  <div class="study-log-new-width">    
    <div class="e-card">
      <%= form_with model: @study_log, local: true do |f| %> 
        <%= render 'layouts/error_messages', model: @study_log %>
        <div class="e-header">
          <h5>学習日</h5>
          <span><%= f.date_field :working_date, value: Date.today, class: "form-control" %></span>
        </div>
        <div class="d-flex card-body">
          <div class="content">
            <!-- 子要素と親要素を同時に更新するための処理,今後非同期で列の追加等を行う予定であるため、パーシャル化 -->
              <%= f.fields_for :study_log_details do |detail| %> 
                <%= render 'study_log_detail_new',study_log: @study_log,detail: detail %>
              <% end %>
          </div>
        </div>
        <div class="card-body pt-0">
          <%= f.label :memo,"メモ" %>
          <%= f.text_area :memo ,class: "form-control" %>
        </div>
      </div>
      <div class="mt-2 d-flex justify-content-end">
        <%= f.submit "登録する",class: "btn btn-primary" %>      
      </div>
    <% end %>
  </div>
</div>