<div class="container">
  <div class="d-flex justify-content-center">
    <!-- flexboxで１つのボックスと判定させるためにクラスを定義 -->
    <div class="regist">
      <div class="row header">
        <h4>パスワード再設定</h4>  
      </div>
      <div class="row">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <%= f.label :password, "新しいパスワード" %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password",placeholder: "6文字以上で入力してください",class: "form-control devise-password-form" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "新しいパスワード（再入力）" %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "6文字以上で入力してください", class: "form-control devise-password-form" %>
          </div>
          <div class="actions">
            <%= f.submit "パスワード変更",class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>