<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar',user: @user %>    
    <div class="col-lg-9">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a href="#profile" id="profile-tab" class="nav-link active show" role="tab" data-toggle="tab" aria-controls="profile" aria-selected="true">プロフィール</a>
        </li>
        <li class="nav-item">
          <a href="#study_log" id="study_log-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="record" aria-selected="false">積み上げ</a>
        </li>
        <li class="nav-item">
          <a href="#note" id="note-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="note" aria-selected="false">ノート</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content mt-3">
        <!-- ユーザのプロフィールを表示するための処理 -->
        <div id="profile" class="tab-pane fade active show" role="tabpanel" aria-labelledby="profile-tab">
          <%= render 'users/profile',user: current_user %>
        </div>

        <!-- 学習記録を表示するための処理 -->
        <div id="study_log" class="tab-pane fade" role="tabpanel" aria-labelledby="study_log-tab">
          <div id="study-preview" class="row">
            <%= render 'study_logs/study_log_list', study_logs: @study_logs,user: current_user %> 
            <div id="paginate_study_logs" class="col-12 d-flex justify-content-end mt-3">
              <%= paginate @study_logs, :param_name =>"study_log_page",params: {tab_code: 1} %>
            </div>
          </div>
        </div>

        <!-- ノートを表示するための処理 -->
        <div id="note" class="tab-pane fade" role="tabpanel" aria-labelledby="note-tab">
          <div id="note-preview">
            <%= render 'notes/note_list', notes: @notes %>
            <div id="paginate_notes" class="d-flex justify-content-end mt-3">
              <%= paginate @notes,:param_name =>"note_page",params: {tab_code: 2} %>  
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>