<div class="container">
  <div class="row">    
    <table class="table table-hover">
      <thead>
        <th>学習日</th>
        <th>タグ</th>
        <th>学習時間</th>
        <th>メモ</th>
        <th>投稿者</th>
        <th></th>
      </thead>
      <tbody>
        <% @study_logs.all.each do |study_log| %>
          <tr>
            <td style="width:200px;">
              <%= study_log.working_date.strftime("%Y年%m月%d日") %>
            </td>
            <td>
              <% study_log.tag_list.each do |tag| %> 
                <span class="badge-primary p-1 badge-tag"><%= tag %></span>
              <% end %>
            </td>
            <td>
              <%= study_log.hour %>時間<%=study_log.minute%>分
            </td>
            <td>
              <%= study_log.memo %>
            </td>
            <td>
              <%= study_log.user.name %>
            </td>
            <td>
              <%= link_to "詳細",admins_study_log_path(study_log),class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>