<!-- サイドバー -->
<div class="col-lg-3 col-md-12 card h-100 timeline-sidebar mb-3">
  <div class="d-flex justify-content-center mt-3 mb-2">
    <%= attachment_image_tag user, :profile_image, :fill, 150, 150, class: "pull-left profile-img", fallback: "no_image.png",size: "150x150" %>    
  </div>

<table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <td>
          <b>ユーザ名</b><span class="offset-3"><%= user.name %></span>
        </td>
      </tr>
      <tr>
        <td class="s-relative">
            <b>自己紹介</b>
            <p class="text-center"><%= user.introduction %></p>
            <div class="s-absolute"">
              <span class="user-modal-button">詳細へ</span>
              <%#=# link_to "詳細へ",detail_user_path(user),data: {:turbolinks => "false" } %>
            </div>
        </td>
      </tr>
      <tr>
        <td>
          <b>今週の目標</b>
          <div class="text-center">
            <h4><b><%= user.goal_hour%>時間<%= user.goal_minute %>分</b></h4>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <b>今週の積み上げ</b>
          <div class="text-center">
            <h4><b><%= user.weekly_study_logs[0] %>時間<%= user.weekly_study_logs[1]%>分</b></h4>        
          </div>
        </td>
      </tr>
      <tr>
        <td class="d-flex justify-content-around">
          <b><%= link_to "フォロー#{user.relationships.count}" ,following_user_path(user) %></b>
          <b><%= link_to "フォロワー#{user.reverse_of_relationships.count}" ,followers_user_path(user) %></b>
        </td>
      </tr>
      <tr>
        <td class="text-center"><b><%= link_to "お気に入り一覧",favorites_user_path(user) %></b></td>
      </tr>
      <% if user_signed_in? %>
        <% if current_user != user %>
          <tr>
            <td>
              <div class="text-center">
                <div id="follow-<%=user.id%>">
                  <%= render 'relationships/follow',user: user %>
                </div>
              </div>          
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">
                <% if room_chk == true %>
                  <%= link_to "チャット",room_path(room_id),class:"btn btn-info" %>
                <% else %>
                  <%= link_to "チャット",rooms_path(user_id: user.id),method: :post,class:"btn btn-info" %>
                <% end %>
              </div>          
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).on('turbolinks:load', function () {
    $('.user-modal-button').on('click',function(){
        $('.user-modal-wrapper').show();
        $('.user-modal').fadeIn();
        $('body').css('overflow','hidden');


        $(function(){
          $('.user-modal-wrapper').on('click',function(){
            $('body').css('overflow','');
            $(this).fadeOut();
          });
          $('.study-log-new-width').on('click',function(e){
            e.stopPropagation();
          });
        });
    });
  });
</script>

