<!-- 表示される学習記録一覧 -->
  <div class="row">
    <% study_logs.each do |study_log| %>
      <div class="col-4">
        <div class="card h-100">
          <div class="card-header">
            <div>
              <%= study_log.working_date.strftime("%Y年%m月%d日")%>              
            </div>
            <div>
              <%= attachment_image_tag study_log.user, :profile_image, :fill, 80, 80, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.png",size: "80x80" %>              
            <span class="ml-1">
              <%= study_log.user.name %>
            </span>

            </div>
          </div>
          <ul class="list-group">
            <!-- 登録された学習内容を表示 -->
            <% study_log.study_log_details.each do |study_log_detail| %>
              <li class="list-group-item"><%= study_log_detail.tag_list %></li>
              <li class="list-group-item"><%= study_log_detail.hour %>時間<%=study_log_detail.min%>分</li>
            <% end %>
            <li class="list-group" style="height: 10vh;">
              <div class="card-body memo-relative">
                <div class="memo">
                  memo
                </div>
                <div class="mt-2">
                  <%= study_log.memo %>
                </div>
              </div>
            </li>
          </ul>
          <div class="memo-detail-relative mt-3">
            <div class="card-footer">
              <!-- いいね機能の処理 -->
              <%= render 'layouts/study_log_favorite',study_log: study_log %>
              <span class="ml-2 mr-2"><%= link_to "詳細へ",study_log_path(study_log) %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

