<li>
  <%= link_to timelines_path,class: "nav-link",data: {"turbolinks" => false}  do%>
    <i class="fas fa-home"> マイページ</i>
  <% end %>
</li>
<li class="notification-relative">
  <% if unchecked_notifications.any? %>
    <i class="fa fa-circle notification-absolute"></i>
  <% end %>
    <%= link_to notifications_path, class: "nav-link",data: {"turbolinks" => false}  do %>
      <i class="fas fa-bell"> 通知</i>
    <% end %>
</li>
<li>
  <%= link_to searchs_path ,class: "nav-link",data: {"turbolinks" => false}  do %>
    <i class="fas fa-search"> 探す</i>
  <% end %>
</li>
<li>
  <%= link_to new_study_log_path,class: "nav-link",data: {"turbolinks" => false}  do %>
    <i class="fas fa-sign-in-alt">学習記録を書く</i>     
  <% end %>           
</li>
<li>
  <%= link_to new_note_path,class: "nav-link",data: {"turbolinks" => false}  do %>
    <i class="fas fa-book"> ノートを書く</i>
  <% end %>
</li>
<li>
  <%= link_to rooms_path ,class: "nav-link",data: {"turbolinks" => false}  do %>
    <i class="fas fa-comment-dots"> チャットする</i>
  <% end %>
</li>
<li>
  <%= link_to destroy_user_session_path,method: :delete,class: "nav-link" do %>
    <i class="fas fa-sign-out-alt"> ログアウト</i>
  <% end %>
</li>
