<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>StudyHours</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-expand-lg justify-content-end p-3 sticky-top top-bar">
        <div class="navbar-symbol mr-auto"> 
          <%= link_to "StudyHours",root_path %>         
        </div>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to timelines_path,class: "nav-link",data: {"turbolinks" => false}  do%>
                  <i class="fas fa-home"> タイムライン</i>
                <% end %>
              </li>
              <li class="nav-item notification-relative">
                <% if unchecked_notifications.any? %>
                  <i class="fa fa-circle notification-absolute"></i>
                <% end %>
                <%= link_to notifications_path, class: "nav-link",data: {"turbolinks" => false} do %>
                  <i class="fas fa-bell"> 通知</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to searchs_path ,class: "nav-link" ,data: {"turbolinks" => false} do %>
                  <i class="fas fa-search"> 探す</i>
                <% end %>
              </li>
              <li class="nav-item"> 
                <%= link_to new_study_log_path,class: "nav-link",data: {"turbolinks" => false} do %>
                  <i class="fas fa-sign-in-alt">学習記録</i>     
                <% end %>           
              </li>
              <li class="nav-item">
                <%= link_to new_note_path,class: "nav-link",data: {"turbolinks" => false} do %>
                  <i class="fas fa-book"> ノート</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to rooms_path ,class: "nav-link" do %>
                  <i class="fas fa-comment-dots"> チャット</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path,method: :delete,class: "nav-link" do %>
                  <i class="fas fa-sign-out-alt"> ログアウト</i>
                <% end %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admins_users_path,class: "nav-link" do%>
                  <i class="fas fa-users"> ユーザー管理</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admins_study_logs_path,class: "nav-link" do%>
                  <i class="fas fa-clipboard-list"> 学習記録管理</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admins_notes_path,class: "nav-link" do %>
                  <i class="fas fa-book-reader"> ノート管理</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admins_tags_path, class:"nav-link" do %>
                  <i class="fas fa-tags"> タグ管理</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path,method: :delete,class: "nav-link" do %>
                  <i class="fas fa-sign-out-alt"> ログアウト</i>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_registration_path,class: "nav-link" do %>
                  <i class="fas fa-edit"> 会員登録</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path,class: "nav-link"  do %>
                  <i class="fas fa-sign-in-alt"> ログイン</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- ハンバーガーメニュー -->
        <div id="sp-menu">
          <h2>StudyHours</h2>
          <ul>
            <% if user_signed_in? %>        
              <li>
                <%= link_to timelines_path,class: "nav-link",data: {"turbolinks" => false}  do%>
                  <i class="fas fa-home"> マイページ</i>
                <% end %>
              </li>
              <li class="notification-relative">
                <% if unchecked_notifications.any? %>
                  <i class="fa fa-circle notification-absolute"></i>
                <% end %>
                  <%= link_to notifications_path, class: "nav-link",data: {"turbolinks" => false}  do %>
                    <i class="fas fa-bell"> 通知</i>
                  <% end %>
              </li>
              <li>
                <%= link_to searchs_path ,class: "nav-link",data: {"turbolinks" => false}  do %>
                  <i class="fas fa-search"> 探す</i>
                <% end %>
              </li>
              <li>
                <%= link_to new_study_log_path,class: "nav-link",data: {"turbolinks" => false}  do %>
                  <i class="fas fa-sign-in-alt">学習記録を書く</i>     
                <% end %>           
              </li>
              <li>
                <%= link_to new_note_path,class: "nav-link",data: {"turbolinks" => false}  do %>
                  <i class="fas fa-book"> ノートを書く</i>
                <% end %>
              </li>
              <li>
                <%= link_to rooms_path ,class: "nav-link",data: {"turbolinks" => false}  do %>
                  <i class="fas fa-comment-dots"> チャットする</i>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path,method: :delete,class: "nav-link" do %>
                  <i class="fas fa-sign-out-alt"> ログアウト</i>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to new_user_registration_path,class: "nav-link" do %>
                  <i class="fas fa-edit"> 会員登録</i>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path,class: "nav-link"  do %>
                  <i class="fas fa-sign-in-alt"> ログイン</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <!-- 三本線 -->
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </nav>
      <%= render 'layouts/flash_messages' %>
      <div class="mt-3">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
