<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>StudyHours</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "会員登録",new_user_registration_path %>
    <%= link_to "ログイン",new_user_session_path %>
    <%= link_to "ログアウト",destroy_user_session_path,method: :delete %>
    <% if user_signed_in? %>
      <%= link_to "マイページ",user_path(current_user.id) %>
      <%= link_to "ユーザ詳細ページ",detail_user_path(current_user.id) %>

    <% end %>
    <%= yield %>
  </body>
</html>
