<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>StudyHours</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-expand-lg justify-content-end p-3 sticky-top top-bar">
        <div class="navbar-symbol mr-auto navbar-top-icon"> 
          <%= link_to "StudyHours",root_path %>         
        </div>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <% if admin_signed_in? %>
              <%= render 'layouts/admin_header' %>
            <% elsif user_signed_in? %>            
              <%= render 'layouts/user_header' %>
            <% else %>
              <%= render 'layouts/before_login_header' %>
            <% end %>
          </ul>
        </div>
        <!-- ハンバーガーメニュー -->
        <div id="sp-menu">
          <h2>StudyHours</h2>
          <ul>
            <% if admin_signed_in? %>
              <%= render 'layouts/admin_header_hamburger' %>     
            <% elsif user_signed_in? %>
              <%= render 'layouts/user_header_hamburger' %>     
            <% else %>
              <%= render 'layouts/before_login_hamburger' %>
            <% end %>
          </ul>
        </div>
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <!-- 三本線 -->
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </nav>
      <%= render 'layouts/flash_messages' %>
      <div class="mt-3">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
