<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>StudyHours</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg justify-content-end mb-3 p-3" style="background-color:#9be3de">
      <div class="navbar-left">          
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <%= link_to searchs_path ,class: "nav-link" do %>
              <i class="fas fa-search"> 探す</i>
            <% end %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to timelines_path,class: "nav-link" do%>
              <i class="fas fa-home"> マイページ</i>
            <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_study_log_path,data: {:turbolinks => "false" },class: "nav-link" do %>
               <i class="fas fa-pencil-alt"> 学習記録を書く</i>
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_note_path,data: {:turbolinks => "false" },class: "nav-link" do %>
               <i class="fas fa-book"> ノートを書く</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path,method: :delete,class: "nav-link" do %>
                <i class="fas fa-sign-out-alt"> ログアウト</i>
              <% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to new_user_registration_path,class: "nav-link" do %>
                <i class="fas fa-edit"> 会員登録</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path,class: "nav-link"  do %>
                <i class="fas fa-sign-in-alt"> ログイン</i>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <%= render 'layouts/flash_messages' %>
    </div>     
  </div>
</div>
    <%= yield %>
  </body>
</html>
